<div class="container-fluid" style="min-width: 50vw;height: 95vh;" class="mat-grey pad-all-xs pad-b-lg">

  <div class="row" style="margin: 0">

    <div class="col-xs-12 col-md-3 col-lg-4">
      
      <div class="row around-xs">

        <button mat-raised-button color="primary" (click)="downloadImage('jpeg')">
          JPEG<mat-icon>download</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="downloadImage('png')">
          PNG<mat-icon>download</mat-icon>
        </button>
        <!--fabricCanvas.clear()-->
        <button mat-mini-fab color="primary" (click)="refresh()" class="d-xs-none d-sm-inline-block">
          <mat-icon>refresh</mat-icon>
        </button>
     
        <button 
          mat-mini-fab 
          color="primary" 
          [disabled]="!history.length || !historyCurrent"
          (click)="historyCurrent = historyCurrent - 1; goToHistory()">
          <mat-icon>west</mat-icon>
        </button>
        <button 
        mat-mini-fab
          color="primary" 
          [disabled]="!history.length || historyCurrent === history.length"
          (click)="historyCurrent = historyCurrent + 1; goToHistory()">
          <mat-icon>east</mat-icon>
        </button>
  

      </div>

      <!-- <ng-template *ngTemplateOutlet="brightnessTmpl"></ng-template> -->

      <mat-checkbox [(ngModel)]="runWithReInit" class="mrgn-all-sm d-xs-none">
        Restart On Effect Change
      </mat-checkbox>

      <!--== ACCORDEON =====================================================-->

      <div style="max-height: 400px;" class="my-scroll my-accordion d-xs-none">
        <mat-accordion>
  
          <mat-expansion-panel 
            *ngFor="let tmplObj of [
              {tmpl: confusionTmpl, head: 'Confusion', method: 'addConfusion'}, 
              {tmpl: whiteNoiseTmpl, head: 'White Noise', method: 'giveWhiteNoise'},
              {tmpl: colorStopsTmpl, head: 'Color Stops', method: 'makeMultiColor'},
              {tmpl: negativeTmpl, head: 'Negatives', method: 'giveNegative'}, 
              {tmpl: pixelateTmpl, head: 'Pixelate', method: 'pixelateData'},              
              {tmpl: pixelateCircleTmpl, head: 'Mosaic', method: 'pixelateCircleData'}, 
              {tmpl: bnwTmpl, head: ' BNW', method: 'blackNWhite'},
              {tmpl: polychromeNegativeTmpl, head: 'Polychrome Negative', method: 'givePolychromeNegative'},
              {tmpl: paradiseTmpl, head: 'Paradise', method: 'giveParadise'},
              {tmpl: exposureTmpl, head: 'Exposure', method: 'giveExposure'},
              {tmpl: intensityTmpl, head: 'Intensity', method: 'giveIntensity'},
              {tmpl: bloomTmpl, head: 'Bloom', method: 'giveBloom'},
              {tmpl: outlinesTmpl, head: 'Outlines', method: 'giveOutlines'},
              {tmpl: waterTmpl, head: 'Water', method: 'giveWater'}, 
              {tmpl: blocksTmpl, head: 'Blocks', method: ''}, 
              {tmpl: framesTmpl, head: 'Frames', method: ''}, 
              {tmpl: rotatingFramesTmpl, head: 'Rotating Frames', method: ''}, 
              {tmpl: cartoonColorsTmpl, head: 'Cartoonize', method: 'giveCartoonColors'}, 
              {tmpl: vinylTmpl, head: 'Vinyl', method: ''}, 
              {tmpl: holyLightTmpl, head: 'Holy Light', method: ''}, 
              {tmpl: fluffyTmpl, head: 'Fluffy', method: 'giveFluffy'}, 
              {tmpl: spotlightTmpl, head: 'Spotlight', method: 'giveSpotlight'}, 
              {tmpl: blindsTmpl, head: 'Blinds', method: ''}, 
              {tmpl: ellipseTmpl, head: 'Ellipse', method: ''},   
              {tmpl: tremoloTmpl, head: 'Tremolo', method: ''},   
              {tmpl: brokenWallTmpl, head: 'Broken Wall', method: ''},     
              {tmpl: suckTmpl, head: 'Suck', method: 'giveSuck'}, 
              {tmpl: klimtTmpl, head: 'Klimt', method: ''},               
              {tmpl: topColorsTmpl, head: 'Top Colors ('+info.colorCount+')'},                         
            ]">
              <mat-expansion-panel-header>  
                <mat-panel-title>
                  {{tmplObj.head}}
                </mat-panel-title>  
              </mat-expansion-panel-header>   
              <ng-template *ngTemplateOutlet="tmplObj.tmpl"></ng-template>
              
              <div class="end-xs">
                <button 
                  (click)="fabricCanvas.isDrawingMode = false;
                          fabricCanvas.selection = true;
                          fabricCanvas.appStatus = 'lassoRectangeEffect';
                          fabricCanvas.effectMethod = tmplObj.method"
                  mat-icon-button 
                  color="accent" 
                  *ngIf="tmplObj.method">
                  <mat-icon>crop</mat-icon>
                </button>

                <button 
                  (click)="fabricCanvas.isDrawingMode = true;
                          fabricCanvas.selection = false;
                          fabricCanvas.appStatus = 'lassoMethodEffect';
                          fabricCanvas.effectMethod = tmplObj.method"
                  mat-icon-button 
                  color="accent" 
                  *ngIf="tmplObj.method">
                  <mat-icon svgIcon="lasso"></mat-icon>
                </button>
                
              </div> 
          </mat-expansion-panel>

        </mat-accordion>      
      </div>

      <div *ngIf="!coreService.isProd">

         <ng-template *ngTemplateOutlet="klimtTmpl"></ng-template> 
        @todo colopicker
      </div>


      <div class="mrgn-t-md">
        <button *ngIf="!coreService.isProd" mat-raised-button color="accent" (click)="scissors()">scissors()</button> 
  
        <button mat-raised-button color="accent" (click)="mergeDataWithFabric()">
          Merge Data
        </button> 
      </div>

      <div *ngIf="apiService.selectedCategory">
        
        <mat-divider class="mrgn-t-md mrgn-b-md"></mat-divider>
      
        <div class="row around-xs">
          <button mat-raised-button color="primary" (click)="uploadImageToCat()">
            Add To {{apiService.selectedCategory?.title}}
          </button>
          <button mat-raised-button color="primary" (click)="uploadImageToCat(true)">
            Add and close
          </button>
        </div>
  
        <mat-divider class="mrgn-t-md mrgn-b-md"></mat-divider>
  
        <div class="row around-xs">
          <button mat-raised-button color="warn" (click)="removeAsset()" class="mrgn-b-md">
            Remove From {{apiService.selectedCategory?.title}}
          </button>       
        </div>

      </div>

      <div *ngIf="!apiService.selectedCategory">
        
        <mat-divider class="mrgn-t-md mrgn-b-md"></mat-divider>
      
        <div class="row around-xs">
          <button mat-raised-button color="warn" (click)="uploadImage()">
            Upload Image
          </button>       
        </div>

      </div>

    </div>
     
    <div class="col-xs-12 col-md-9 col-lg-8" [style.background]="'rgb('+info.averageRgb.r+','+info.averageRgb.g+','+info.averageRgb.b+')'">
      
      <div 
        id="canvas-container"
        style="position: relative;transform-origin: left top;" 
        [style.transform]="'scale('+canvasScale+')'">
      
        <div [style.height]="height+'px'" ></div>

        <canvas style="position: absolute;top: 0;left: 0;z-index: -1" id="dummy-canvas" [width]="width" [height]="height"></canvas>
        <canvas style="position: absolute;top: 0;left: 0;" id="canvas" [width]="width" [height]="height"></canvas>
        <div style="position: absolute;top: 0;left: 0;">
          <canvas id="fabricCanvas" [width]="width" [height]="height"></canvas>
        </div>
                
      </div>
<!-- 
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
       -->
      <app-fabric
        class="pos-rel"
        [style.top]="(canvasScale < 1) ? (-(height-(height*canvasScale))+'px') : '0px'" 
        [fabricCanvas]="fabricCanvas"
        [ctxFabric]="ctxFabric"
        [ctx]="ctx">
      </app-fabric>



    </div>
    
  </div> 

</div> 
 
<!--== TEMPLATES =====================================================================================================-->

<ng-template #confusionTmpl>
  <div>
    <div>
      <mat-checkbox [(ngModel)]="confusion.colors[0]" value="1">R</mat-checkbox>
      <mat-checkbox [(ngModel)]="confusion.colors[1]" value="1" class="mrgn-l-sm">G</mat-checkbox>
      <mat-checkbox [(ngModel)]="confusion.colors[2]" value="1" class="mrgn-l-sm">B</mat-checkbox>
    </div>
  
    <div>
      Start
      <mat-slider thumbLabel [min]="0" [max]="200" [(ngModel)]="confusion.start">
      </mat-slider>
    </div>
  
    <div>
      Randomness
      <mat-slider thumbLabel [min]="0" [max]="50" [(ngModel)]="confusion.randomness"></mat-slider>
    </div>
  
    <button mat-raised-button color="accent" (click)="addConfusion()">
      Add confusion
    </button>
  </div>
</ng-template>

<ng-template #topColorsTmpl>
  <span *ngFor="let color of info.colorObj;index as i">
    <app-picker-menu
      label="{{i+1}}" 
      [color]="'rgb('+color[0]+')'" 
      (onPickColor)="replaceUIColor($event.color, i)">
    </app-picker-menu>
  </span> 
</ng-template>

<ng-template #colorStopsTmpl>
  <div *ngFor="let colorStop of colorStops;index as i">
    <app-picker-menu
      label="{{i+1}}" 
      [color]="colorStop.color" 
      (onPickColor)="colorStop.color = $event.color">
    </app-picker-menu>
    <mat-slider [min]="100" [max]="800" [(ngModel)]="colorStop.stop"></mat-slider>
    <button mat-icon-button (click)="colorStops.splice(i, 1)">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>


  <button mat-icon-button (click)="colorStops.push({color: 'rgb(0,0,0)', stop: colorStops[colorStops.length-1].stop+100})">
    <mat-icon>add_circle</mat-icon>
  </button>

  <div>
    <button mat-raised-button color="accent" (click)="makeMultiColor()">
      Apply Stops
    </button>
  </div>
</ng-template>

<ng-template #brightnessTmpl>
  <!-- <button mat-icon-button (click)="lighten()">
    <mat-icon>wb_sunny</mat-icon>
  </button>
  
  <button mat-icon-button (click)="brighten()">
    <mat-icon>nightlight_round</mat-icon>
  </button>     -->
</ng-template>

<ng-template #pixelateTmpl>

  <mat-radio-group [(ngModel)]="pixelate.outline" (change)="pixelateData()">
    Outline Style
    <mat-radio-button [value]="true">Y</mat-radio-button>
    <mat-radio-button [value]="false">N</mat-radio-button>
  </mat-radio-group>

  <div>
    Factor
    <mat-slider thumbLabel [min]="2" [max]="15" [(ngModel)]="pixelate.factor" (change)="pixelateData()">
    </mat-slider>
  </div>      

</ng-template>

<ng-template #pixelateCircleTmpl>
  <mat-radio-group [(ngModel)]="pixelate.circleOutline" (change)="pixelateCircleData()">
    Outline Style
    <mat-radio-button [value]="true">Y</mat-radio-button>
    <mat-radio-button [value]="false">N</mat-radio-button>
  </mat-radio-group>
  
  <div class="mrgn-t-sm">
    Radius
    <mat-slider thumbLabel [min]="2" [max]="15" [(ngModel)]="pixelate.circleFactor" 
    (change)="pixelateCircleData()">
    </mat-slider>
  </div>      

  <!-- <button mat-raised-button color="accent" (click)="pixelateCircleData()">Mosaic</button>
  <button mat-raised-button color="accent" (click)="pixelateCircleData(true)">Mosaic Outline</button>  -->
</ng-template>

<ng-template #bnwTmpl>

  <div>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="bnw.rgb[0]" (selectionChange)="blackNWhite()">
        <mat-option *ngFor="let rgb of ['r', 'g', 'b']" [value]="rgb">
          {{rgb}}
      </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  
</ng-template>

<ng-template #negativeTmpl>

    <mat-slider thumbLabel [min]="70" [max]="255" [(ngModel)]="negative.brightness"
    (change)="giveNegative()">
    </mat-slider>

</ng-template>

<ng-template #exposureTmpl>

  <mat-slider thumbLabel [min]="0.1" [max]="2" [step]=".1" 
    [(ngModel)]="exposure.distance" 
    (change)="giveExposure()">
  </mat-slider>

</ng-template>

<ng-template #polychromeNegativeTmpl>
  <mat-slider thumbLabel [min]="40" [max]="225" [step]="1" 
    [(ngModel)]="polychromeNegative.middlePoint" 
    (change)="givePolychromeNegative()">
  </mat-slider> 

  <mat-slider thumbLabel [min]="40" [max]="225" [step]="1" 
    [(ngModel)]="polychromeNegative.range" 
    (change)="givePolychromeNegative()">
  </mat-slider> 
</ng-template>

<ng-template #whiteNoiseTmpl>
  <mat-slider thumbLabel [min]="0" [max]="205" [step]="1" 
    [(ngModel)]="whiteNoise.factor" 
    (change)="giveWhiteNoise()">
  </mat-slider>
</ng-template>

<ng-template #paradiseTmpl>
  <mat-slider thumbLabel [min]="0.1" [max]="1" [step]=".1" 
    [(ngModel)]="paradise.factor" 
    (change)="giveParadise()">
  </mat-slider>
</ng-template>

<ng-template #intensityTmpl>
  <mat-slider thumbLabel [min]="0" [max]="1" [step]=".01" 
    [(ngModel)]="intensity.factor" 
    (change)="giveIntensity()">
  </mat-slider>
</ng-template>

<ng-template #bloomTmpl>
  <mat-slider thumbLabel [min]="1" [max]="200" [step]="1" 
    [(ngModel)]="bloom.factor" 
    (change)="giveBloom()">
  </mat-slider>
</ng-template>

<ng-template #outlinesTmpl>
  <mat-slider thumbLabel [min]="1" [max]="50" [step]="1" 
    [(ngModel)]="outlines.factor" 
    (change)="giveOutlines()">
  </mat-slider>
  <div>

    <mat-checkbox [(ngModel)]="outlines.hasBg" (change)="giveOutlines()">Custom bg?</mat-checkbox>
    <app-picker-menu
      [icon]="'brush'"
      [color]="outlines.bgColor" 
      (onPickColor)="outlines.bgColor = $event.color;">
    </app-picker-menu>
  </div>
</ng-template>

<ng-template #waterTmpl>
  <mat-slider thumbLabel [min]="1" [max]="6" [step]="1" 
    [(ngModel)]="water.factor" 
    (change)="giveWater()">
  </mat-slider>
</ng-template>

<ng-template #blocksTmpl>
  <mat-slider thumbLabel [min]="20" [max]="290" [step]="1" 
    [(ngModel)]="blocks.factor" 
    (change)="giveBlocks()">
  </mat-slider>
</ng-template>

<ng-template #framesTmpl>
  <mat-slider thumbLabel [min]="1" [max]="80" [step]="1" 
    [(ngModel)]="frames.factor" 
    (change)="giveFrames()">
  </mat-slider>
  <mat-slider thumbLabel [min]="100" [max]="600" [step]="1" 
  [(ngModel)]="frames.stop" 
  (change)="giveFrames()">
</mat-slider>
</ng-template>

<ng-template #rotatingFramesTmpl>
  <div>
    Scale Factor
    <mat-slider thumbLabel [min]="0" [max]="2" [step]=".01" 
      [(ngModel)]="rotatingFrames.scaleFactor" 
      (change)="giveRotatingFrames()">
    </mat-slider>
  </div>
  <div>
    Degrees Stop
    <mat-slider thumbLabel [min]="1" [max]="360" [step]="1"
      [(ngModel)]="rotatingFrames.degreesStop" 
      (change)="giveRotatingFrames()">
    </mat-slider>
  </div>
  <div>
    Degrees Plus
    <mat-slider thumbLabel [min]="1" [max]="15" [step]="1" 
      [(ngModel)]="rotatingFrames.degreesPlus" 
      (change)="giveRotatingFrames()">
    </mat-slider>
  </div>

</ng-template>

<ng-template #cartoonColorsTmpl>
  <div class="row around-xs">
    <app-pallet-picker (onColorSelect)="cartoonColors=$event;giveCartoonColors()">
    </app-pallet-picker>
  </div>
</ng-template>

<ng-template #vinylTmpl>
  <mat-slider thumbLabel [min]="0.01" [max]="0.3" [step]="0.01" 
    [(ngModel)]="vinyl.factor" 
    (change)="giveVinyl()">
  </mat-slider>
</ng-template>

<ng-template #holyLightTmpl>
  <mat-slider thumbLabel [min]="1" [max]="10" [step]="1" 
    [(ngModel)]="holyLight.factor" 
    (change)="giveHolyLight()">
  </mat-slider>
</ng-template>

<ng-template #fluffyTmpl>
  <mat-slider thumbLabel [min]="5" [max]="50" [step]="1" 
    [(ngModel)]="fluffy.factor" 
    (change)="giveFluffy()">
  </mat-slider>
</ng-template>

<ng-template #suckTmpl>
  <mat-slider thumbLabel [min]="10" [max]="100" [step]="1" 
    [(ngModel)]="suck.factor" 
    (change)="giveSuck()">
  </mat-slider>
</ng-template>

<ng-template #spotlightTmpl>

  <div>
    Control X
    <mat-slider thumbLabel [min]="0" [max]="width" [step]="1" 
      [(ngModel)]="spotlight.controlX" 
      (change)="giveSpotlight()">
    </mat-slider>
  </div>

  <div>
    Control Y
    <mat-slider thumbLabel [min]="0" [max]="width" [step]="1" 
      [(ngModel)]="spotlight.controlY" 
      (change)="giveSpotlight()">
    </mat-slider>
  </div>

  <div>
    Range X
    <mat-slider thumbLabel [min]="0" [max]="width/2" [step]="1" 
      [(ngModel)]="spotlight.rangeX" 
      (change)="giveSpotlight()">
    </mat-slider>
  </div>

  <div>
    Range Y
    <mat-slider thumbLabel [min]="0" [max]="width" [step]="1" 
      [(ngModel)]="spotlight.rangeY" 
      (change)="giveSpotlight()">
    </mat-slider>
  </div>


</ng-template>

<ng-template #blindsTmpl>

  <div>
    Frequency
    <mat-slider thumbLabel [min]="10" [max]="(width/3)" [step]="1" 
      [(ngModel)]="blinds.freq" 
      (change)="giveBlinds()">
    </mat-slider>
  </div>

  <div>
    Depth
    <mat-slider thumbLabel [min]="0.1" [max]="1.5" [step]="0.01" 
      [(ngModel)]="blinds.depth" 
      (change)="giveBlinds()">
    </mat-slider>
  </div>


</ng-template>

<ng-template #tremoloTmpl>

  <div>
    Period
    <mat-slider thumbLabel [min]="0.01" [max]=".2" [step]="0.01" 
      [(ngModel)]="tremolo.period" 
      (change)="giveTremolo()">
    </mat-slider>
  </div>

  <div>
    Pitch
    <mat-slider thumbLabel [min]="10" [max]="100" [step]="1" 
      [(ngModel)]="tremolo.pitch" 
      (change)="giveTremolo()">
    </mat-slider>
  </div>


</ng-template>

<ng-template #ellipseTmpl>

  <div>
    Radius X
    <mat-slider thumbLabel [min]="width*.25" [max]="width*.75" [step]="1" 
      [(ngModel)]="ellipse.rx" 
      (change)="giveEllipse()">
    </mat-slider>
  </div>

  <div>
    Radius Y
    <mat-slider thumbLabel [min]="height*.25" [max]="height*.75" [step]="1" 
      [(ngModel)]="ellipse.ry" 
      (change)="giveEllipse()">
    </mat-slider>
  </div>


</ng-template>

<ng-template #brokenWallTmpl>

  <div>
    Size
    <mat-slider thumbLabel [min]="1" [max]="96" [step]="1" 
      [(ngModel)]="brokenWall.size" 
      (change)="giveBrokenWall()">
    </mat-slider>
  </div>

  <div>
    Distance
    <mat-slider thumbLabel [min]="10" [max]="200" [step]="1" 
      [(ngModel)]="brokenWall.dist" 
      (change)="giveBrokenWall()">
    </mat-slider>
  </div>


</ng-template>

<ng-template #klimtTmpl>

  <div>
    Size
    <mat-slider thumbLabel [min]="1" [max]="40" [step]="1" 
      [(ngModel)]="klimt.size" 
      (change)="giveKlimt()">
    </mat-slider>
  </div>

  <div>
    Randomness
    <mat-slider thumbLabel [min]="40" [max]="200" [step]="1" 
      [(ngModel)]="klimt.randomness" 
      (change)="giveKlimt()">
    </mat-slider>
  </div>


</ng-template>

  <!-- <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="pos-abs" style="left: 10px;top: 10px;">
    Save World
    <mat-icon>save</mat-icon>
  </button> -->

  <!-- <mat-menu #menu="matMenu" (menuOpened)="true" [overlapTrigger]="false">
    <div (click)="$event.stopPropagation()" class="pad-all-md">
      <button class="pos-abs" mat-raised-button color="primary" (click)="getImageData()">text</button>                 
    </div>
  </mat-menu> -->

  <!-- <canvas id="canvas" [width]="width" [height]="height"></canvas> -->




