<div class="row" style="margin: 0px;">
  <div id="comic-canvas-container" class="col-sm-12 col-md-8 col-lg-9">
    <div style="height: 80vh;" class="my-scroll">
      <canvas id="my-comic-canvas" style="border: 2px solid grey"></canvas>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-3">
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
    <button mat-raised-button color="primary">text</button>
  </div>
</div>
