<div class="comic-canvas-container">

  <div class="row" style="margin: 0px;">
    
    <div id="comic-canvas-container" class="col-xs-12 col-md-8 col-lg-9">
      <div style="height: 98vh;" class="my-scroll">
        <div style="transform-origin: left top" [style.transform]="'scale('+canvasScale+')'">
          <canvas id="my-comic-canvas" style="border: 2px solid grey"></canvas>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-4 col-lg-3 mat-grey my-scroll" style="height: 97vh;">

      <div class="mrgn-b-xs mrgn-t-md">

        <button mat-raised-button color="primary" (click)="downloadImage('jpeg')">
          JPEG<mat-icon>download</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="downloadImage('png')">
          PNG<mat-icon>download</mat-icon>
        </button>

      </div>

      <div>
  
        <button mat-icon-button (click)="canvasScale= canvasScale+.1">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button (click)="canvasScale= canvasScale-.1">
          <mat-icon>zoom_out</mat-icon>
        </button>

      </div>

      <app-picker-menu
        [icon]="'format_paint'"
        [color]="background" 
        (onPickColor)="background = $event.color;renderImages();">
      </app-picker-menu>
   
      <div>
        Height
        <mat-slider thumbLabel [min]="200" [max]="2000" [step]="1"
          [(ngModel)]="height"
          (change)="canvas.setHeight(height)">
        </mat-slider>
      </div>

      <div>
        Width
        <mat-slider thumbLabel [min]="200" [max]="2000" [step]="1"
          [(ngModel)]="width"
          (change)="canvas.setWidth(width)">
        </mat-slider>
      </div>

      <div>
        Scale
        <mat-slider thumbLabel [min]="0.1" [max]="2" [step]=".01" 
          [(ngModel)]="imgScale" 
          (change)="renderImages()">
        </mat-slider>
      </div>
  
      <div>
        Inner Padding
        <mat-slider thumbLabel [min]="0" [max]="50" [step]="1" 
          [(ngModel)]="padding" 
          (change)="renderImages()">
        </mat-slider>
      </div>
  
      <div>
        Outer Padding
        <mat-slider thumbLabel [min]="0" [max]="50" [step]="1" 
          [(ngModel)]="outerPadding" 
          (change)="renderImages()">
        </mat-slider>
      </div>


      <div *ngIf="sortablejsOptions" [sortablejs]="images" [sortablejsOptions]="sortablejsOptions">
  
        <div 
          class="image-block" 
          *ngFor="let img of images;index as i"
          [style.background]="img.id === selectedObjId ? 'red' : ''"
          (click)="setActiveObject(i)">
          {{ img ?  (img.id | onlyNumber) : '' }}
        </div>
  
      </div>
  
      <button mat-raised-button color="primary" class="mrgn-t-sm" (click)="shuffleImages()">shuffle</button>
  
      <app-fabric
        class="pos-rel"
        [fabricCanvas]="canvas"
        [images]="images"
        [view]="'comic'">
      </app-fabric>

      <button mat-raised-button color="primary" (click)="openMiniTreeDialog()">
        Add to Category
        <mat-icon>save</mat-icon>
      </button> 

     <div style="margin-top: 10px;opacity: 0">
       
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
    
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button> 
  
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="renderComicCanvas()">text</button>
        <button mat-raised-button color="primary" (click)="openMiniTreeDialog()">text</button> 
      </div>
  
   
  
    </div> 
  
  </div>
</div>

<ng-template #miniTreeDialog>
  <div class="my-scroll" style="height: 95vh;margin-bottom: -5px;min-width: 300px">
    <app-mini-tree (onSelectCategory)="onSelectCategory($event)"></app-mini-tree>
  </div>
</ng-template>