<div align="center" class="my-gallery"> 

  <!--== PAGINATIO AND SELECTED MENU ==============================================-->

  <div class="row mrgn-t-sm pad-all-sm" style="margin: 0">
    <div class="col-xs-12 col-sm-5 col-md-6 start-xs my-scroll" style="white-space: nowrap; overflow-x: auto;" *ngIf="pages.length > 1">
      <button 
        *ngFor="let p of pages;index as i"
        mat-raised-button 
        color="primary" 
        [disabled]="page == i"
        (click)="goToPage(i)">
        {{i+1}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6" *ngIf="pages.length <= 1"></div>

    <div class="d-xs-none col-sm-7 col-md-6 end-xs">
  
      <!--DUMMY SO THE FOCUS DOES NOT GO TO THE FORM AUTOCOMPLETE-->
      <input type="text" style="opacity: 0;width: 1px" aria-label="Search Tags">

      <form style="display: inline-block" class="">
        <mat-form-field appearance="fill">
          <mat-label>Search Tag</mat-label>
          <input type="text"
                  aria-label="Search Tags"
                  matInput
                  [matAutocomplete]="auto"
                  [formControl]="tagCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag" (click)="getAssetsForTags()">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <!--== SELECT ==============================================--> 

      <button mat-button [matMenuTriggerFor]="selectedMenu" *ngIf="!coreService.selectedAssets.length" (click)="selectAll()">
        Selected All
      </button>

      <button mat-button [matMenuTriggerFor]="selectedMenu" *ngIf="coreService.selectedAssets.length">
        Selected ({{coreService.selectedAssets.length}})
      </button>

      <mat-menu #selectedMenu="matMenu">
        <button mat-menu-item (click)="openComicDialog()" *ngIf="addAction !== 'image'">
          Composition
        </button>
        <button mat-menu-item (click)="openMiniTreeDialog()" *ngIf="!addAction">
          Add to category
        </button>
        <button mat-menu-item (click)="addToSelectedCategory()" *ngIf="addAction === 'category'">
          Add to category {{ apiService.selectedCategory.title }}
        </button>
        <button mat-menu-item (click)="addToImage()" *ngIf="addAction === 'image'">
          Add to image
        </button>

      </mat-menu>

      <button 
        *ngIf="coreService.selectedAssets.length"
        mat-button 
        color="warn" 
        (click)="coreService.selectedAssets = [];" 
        >
        <mat-icon>cancel</mat-icon>
      </button>

    </div>

     <!--== TAGS ==============================================--> 

    <div class="row pad-all-sm" style="margin: 0px">
      <mat-chip-list aria-label="Selected Tags">
        <mat-chip *ngFor="let tag of selectedTags;index as i" (removed)="selectedTags.splice(i, 1);getAssetsForTags(true)">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>

  </div>

  <!--== CARDS ==============================================-->

  <div class="row around-xs" style="margin: 0" [sortablejs]="assets" [sortablejsOptions]="sortablejsOptions">
    <div *ngFor="let asset of assets;index as i" 
      class="pad-all-sm mrgn-all-sm gallery-card">
      <!-- {{asset|json}} -->
      <div class="gallery-card-overlay">
        <div style="width: 100%">
          <!-- {{asset.id}} -->
          <button mat-icon-button (click)="openimageEditorDialog(asset)" *ngIf="addAction !== 'image'">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="coreService.selectedAssets.push(asset.src)" class="d-xs-none d-sm-inline-block">
            <mat-icon>done</mat-icon>
          </button>

          <!-- <button mat-icon-button>
            <mat-icon>local_offer</mat-icon>
          </button> -->

        </div>
      </div> 
      <div class="gallery-card-selected" 
        *ngIf="coreService.selectedAssets.includes(asset.src)" 
        (click)="coreService.selectedAssets.splice(coreService.selectedAssets.indexOf(asset.src), 1)">
        <div style="width: 100%">
          <button mat-icon-button class="mat-green">
            <mat-icon>check</mat-icon>
          </button>          
        </div>
      </div>

      <div class="bg-image-contain" style="width: 150px;height: 150px;" 
        [style.backgroundImage]="'url('+apiService.imgPath+(asset.src | apiPathSm) +')'">
      </div>
    </div>
  </div>

</div>

<!--== DIALOGS ====================-->

<ng-template #comicDialog>
  <app-comic></app-comic>
</ng-template>

<ng-template #imageEditorDialog>
  <div class="my-scroll mat-grey" style="height: 95vh;margin-bottom: -5px;">
    <app-canvas 
      *ngIf="this.selectedFile.path"
      (onRemoveFile)="assets.splice($event, 1)"
      (onAddFile)="assets.push($event)"
      [selectedFile]="selectedFile">
    </app-canvas>
  </div>
</ng-template>

<ng-template #miniTreeDialog>
  <div class="my-scroll" style="height: 95vh;margin-bottom: -5px;min-width: 300px">
    <app-mini-tree (onSelectCategory)="onSelectCategory($event)"></app-mini-tree>
  </div>
</ng-template>