<div align="center"> 

  <!--== PAGINATIO AND SELECTED MENU ==============================================-->

  <div class="row mrgn-t-sm" style="margin: 0">
    <div class="col-xs-12 col-sm-9 start-xs" style="white-space: nowrap; overflow-x: scroll;">
      <button 
        *ngFor="let p of pages;index as i"
        mat-raised-button 
        color="primary" 
        [disabled]="page == i"
        (click)="goToPage(i)">
        {{i+1}}
      </button>
    </div>

    <div class="d-xs-none col-sm-3 end-xs">
      
      <button mat-button [matMenuTriggerFor]="selectedMenu" *ngIf="!coreService.selectedAssets.length" (click)="selectAll()">
        Selected All
      </button>

      <button mat-button [matMenuTriggerFor]="selectedMenu" *ngIf="coreService.selectedAssets.length">
        Selected ({{coreService.selectedAssets.length}})
      </button>

      <mat-menu #selectedMenu="matMenu">
        <button mat-menu-item (click)="openComicDialog()" *ngIf="addAction !== 'image'">
          Composition
        </button>
        <button mat-menu-item (click)="openMiniTreeDialog()" *ngIf="!addAction">
          Add to category
        </button>
        <button mat-menu-item (click)="addToSelectedCategory()" *ngIf="addAction === 'category'">
          Add to category {{ apiService.selectedCategory.title }}
        </button>
        <button mat-menu-item (click)="addToImage()" *ngIf="addAction === 'image'">
          Add to image
        </button>

      </mat-menu>

      <button 
        *ngIf="coreService.selectedAssets.length"
        mat-button 
        color="warn" 
        (click)="coreService.selectedAssets = [];" 
        >
        <mat-icon>cancel</mat-icon>
      </button>

    </div>
  </div>

  <!--== CARDS ==============================================-->

  <div class="row around-xs" style="margin: 0" [sortablejs]="assets">
    <div *ngFor="let asset of assets;index as i" 
      class="pad-all-sm mrgn-all-sm gallery-card">
      <!-- {{asset|json}} -->
      <div class="gallery-card-overlay">
        <div style="width: 100%">
          <!-- {{asset.id}} -->
          <button mat-icon-button (click)="openEditAssetDialog(asset.src)" *ngIf="addAction !== 'image'">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="coreService.selectedAssets.push(asset.src)" class="d-xs-none d-sm-inline-block">
            <mat-icon>done</mat-icon>
          </button>

        </div>
      </div> 
      <div class="gallery-card-selected" 
        *ngIf="coreService.selectedAssets.includes(asset.src)" 
        (click)="coreService.selectedAssets.splice(coreService.selectedAssets.indexOf(asset.src), 1)">
        <div style="width: 100%">
          <button mat-icon-button class="mat-green">
            <mat-icon>check</mat-icon>
          </button>          
        </div>
      </div>

      <div class="bg-image-contain" style="width: 150px;height: 150px;" 
        [style.backgroundImage]="'url('+apiService.imgPath+(asset.src | apiPath) +')'">
      </div>
    </div>
  </div>

</div>

<!--== DIALOGS ====================-->

<ng-template #comicDialog>
  <app-comic></app-comic>
</ng-template>

<ng-template #editAssetDialog>
  <div class="my-scroll" style="height: 95vh;margin-bottom: -5px;">
    <app-canvas 
      *ngIf="this.selectedFilePath"
      (onRemoveFile)="assets.splice($event, 1)"
      (onAddFile)="assets.push($event)"
      [selectedFilePath]="selectedFilePath">
    </app-canvas>
  </div>
</ng-template>

<ng-template #miniTreeDialog>
  <div class="my-scroll" style="height: 95vh;margin-bottom: -5px;min-width: 300px">
    <app-mini-tree (onSelectCategory)="onSelectCategory($event)"></app-mini-tree>
  </div>
</ng-template>