<!-- <app-image-effects-canvas></app-image-effects-canvas> -->
<app-face-canvas></app-face-canvas>

<!-- 
<div>
  <app-carousel></app-carousel>
</div>  
-->
<!-- 
<div>
  <button 
    *ngFor="let editor of editors" 
    mat-raised-button 
    color="primary" 
    (click)="UI.visibleEditor=editor.type">
    {{editor.verb}}
  </button>
</div>


<div [ngSwitch]="UI.visibleEditor">

  <div *ngSwitchCase="'imageEffects'">
    <app-image-effects-canvas></app-image-effects-canvas>
  </div>

  <div *ngSwitchCase="'faceCanvas'">
    <app-face-canvas></app-face-canvas>
  </div>

</div> -->




<!-- 

<app-face-canvas></app-face-canvas>

 -->

<!-- 

<app-tree></app-tree>

 -->
