.fabric-colors-con{
  position: relative;
  transform-origin: left top;
  width: 100%;

  app-picker-menu{
    margin-left: 7px;
    margin-right: 7px;
  }
}

.svg-but{
  width: 50px;
  //fill: #ed6866;

}
.svg-but svg{
  margin-top: 15px;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

