<div>

  <div class="row fabric-colors-con">
      
    <div class="col" style="width: 100%">

      <!--== BRUSH ===================-->

      <div class="row middle-xs pad-l-sm mrgn-t-sm">
          <app-picker-menu
            (click)="fabricService.addBrush(fabricCanvas, brush);"
            [icon]="'brush'" 
            [color]="brush.color" 
            (onPickColor)="brush.color = $event.color;fabricService.addBrush(fabricCanvas, brush);">
          </app-picker-menu>
          <mat-slider thumbLabel step="1" min="1" max="50" [(ngModel)]="brush.width" (change)="fabricService.addBrush(fabricCanvas, brush);"></mat-slider>
          
          <mat-button-toggle-group [(ngModel)]="brush.strokeLineCap" (change)="fabricService.addBrush(fabricCanvas, brush);" aria-label="Select an option">
            <mat-button-toggle value="butt">
              <mat-icon>rectangle</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="round">
              <mat-icon>lens</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="square">
              <mat-icon>square</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
   
      </div>
    
      <!--== TEXTBOXES ===================-->

      <div class="row middle-xs pad-l-sm mrgn-t-sm">
        <!-- <b>Ballon Text</b> -->
        
        <app-picker-menu
          [icon]="'text_fields'" 
          [color]="textbox.stroke" 
          (onPickColor)="textbox.stroke = $event.color;">
        </app-picker-menu>
    
        <app-picker-menu
          [icon]="'format_paint'" 
          [color]="textbox.backgroundColor" 
          (onPickColor)="textbox.backgroundColor = $event.color;">
        </app-picker-menu>
    
        <mat-slider thumbLabel step="1" min="5" max="50" [(ngModel)]="textbox.fontSize"></mat-slider>
    
        <button mat-raised-button color="accent" (click)="fabricService.addTextBox(fabricCanvas, textbox)">
          <mat-icon>notes</mat-icon>
        </button>
    
        <button mat-raised-button color="accent" (click)="fabricService.speechBubble(fabricCanvas, textbox);">
          <mat-icon>comment</mat-icon>
        </button>

        <button mat-raised-button color="warn" (click)="removeSelection()">
          <mat-icon>remove</mat-icon>
        </button>
        
      </div>

      <!--== ICONS PANEL ===================-->

      <div class="row middle-xs pad-l-sm mrgn-t-sm">

        <app-picker-menu
          icon="border_color" 
          [color]="icon.stroke" 
          (onPickColor)="icon.stroke = $event.color;">
        </app-picker-menu>

        <app-picker-menu
          icon="format_paint" 
          [color]="icon.fill" 
          (onPickColor)="icon.fill = $event.color;">
        </app-picker-menu>

        <mat-slider thumbLabel step="0.1" min="0.2" max="5" [(ngModel)]="icon.strokeWidth"> </mat-slider>

        <button mat-raised-button color="warn" class="mrgn-l-md" (click)="removeSelection()">
          <mat-icon>remove</mat-icon>
        </button>





      </div>

      <!--== ICONS SELECT ===================-->

      <div class="row middle-xs pad-l-sm mrgn-t-sm">
          
        <button 
          mat-icon-button 
          [matMenuTriggerFor]="menu" 
          (click)="showGallery = true;">
          <mat-icon>folder</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu">
          <div (click)="$event.stopPropagation()" *ngIf="showGallery" style="width: 600px;">
            <app-gallery [hasClbk]="true" (onAddSelected)="onAddSelected()"></app-gallery>
          </div>
        </mat-menu>



        <button 
          mat-button  
          *ngFor="let svg of svgIcons" 
          (click)="giveSVGIcon(svg.svg)"
          style="fill: white;stroke:black;"
          [innerHTML]="sanitizer.bypassSecurityTrustHtml(svg.svg)" 
          class="svg-but">
        </button>
      </div>

      <div class="row end-xs mrgn-b-sm">
        <button mat-raised-button color="warn" (click)="fabricCanvas.clear()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>

  </div>

</div> 
