<div>

  <div style="position: absolute;top: 0;left: 0;">

    <canvas id="fabricCanvas"> </canvas>

  </div>

  <div *ngIf="opts.scale" class="row fabric-colors-con"
    [style.width]="(opts.scale < 1) ? (90*(1/opts.scale))+'%' : '100%'"
    [style.transform]="'scale('+( (opts.scale < 1) ? (1/opts.scale) : 1 )+')'">
      
    <div class="col" style="width: 100%">

      <div class="row middle-xs pad-l-sm mrgn-t-sm">
          <app-picker-menu
            (click)="fabricService.addBrush(fabricCanvas, brush);"
            [icon]="'brush'" 
            [color]="brush.color" 
            (onPickColor)="brush.color = $event.color;fabricService.addBrush(fabricCanvas, brush);">
          </app-picker-menu>
          <mat-slider thumbLabel step="1" min="1" max="50" [(ngModel)]="brush.width" (change)="fabricService.addBrush(fabricCanvas, brush);"></mat-slider>
          
          <mat-button-toggle-group [(ngModel)]="brush.strokeLineCap" (change)="fabricService.addBrush(fabricCanvas, brush);" aria-label="Select an option">
            <mat-button-toggle value="butt">
              <mat-icon>rectangle</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="round">
              <mat-icon>lens</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="square">
              <mat-icon>square</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
    
      </div>
    
      <div class="row middle-xs pad-l-sm mrgn-t-sm">
        <!-- <b>Ballon Text</b> -->
        
        <button mat-raised-button color="accent" (click)="fabricService.addTextBox(fabricCanvas, textbox)">
          <mat-icon>notes</mat-icon>
        </button>
    
        <button mat-raised-button color="accent" (click)="fabricService.speechBubble(fabricCanvas, textbox);">
          <mat-icon>comment</mat-icon>
        </button>

        <app-picker-menu
          [icon]="'text_fields'" 
          [color]="textbox.color" 
          (onPickColor)="textbox.color = $event.color;">
        </app-picker-menu>
    
        <app-picker-menu
          [icon]="'format_paint'" 
          [color]="textbox.background" 
          (onPickColor)="textbox.background = $event.color;">
        </app-picker-menu>
    

        <mat-slider thumbLabel step="1" min="5" max="50" [(ngModel)]="textbox.fontSize"></mat-slider>
    
        <button mat-icon-button (click)="removeSelection()">
          <mat-icon>remove</mat-icon>
        </button>
    
      </div>
      <!-- <svg width="90" height="90" color="white">
        <use xlink:href="./assets/img/fabric-icons/cloud.svg#icon-star"></use>
           
      </svg>      -->


      <div class="row end-xs">
        <button mat-raised-button (click)="fabricCanvas.clear()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>

  </div>

</div>
