<div class="flex flex-col gap-3">

  <div class="flex flex-row justify-center">
    <canvas id="miniFabricCanvas" style="border: 1px dotted grey;"></canvas>
  </div>

  <div class="flex flex-row justify-center">
    
    <button mat-icon-button color="accent" (click)="addRect()">
      <mat-icon>rectangle</mat-icon>
    </button>
  
    <button mat-icon-button color="accent" (click)="addCircle()">
      <mat-icon>circle</mat-icon>
    </button>
  
    <button mat-icon-button color="accent" (click)="addEditablePolygon()">
      <mat-icon svgIcon="polygon"></mat-icon>
    </button>

    <app-svg-icons-menu [fill]="color" (onEmitSvg)="addSVGIcon($event)">
    </app-svg-icons-menu>

    <app-picker-menu 
      [iconNoBg]="'brush'" 
      (onPickColor)="colorChange($event.color);">
    </app-picker-menu> 

    <button mat-raised-button color="warn" (click)="clear()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  
  <div class="flex flex-row justify-center">
    <div (click)="emitPath()">
      <ng-content></ng-content>
    </div>
  </div>

</div>





