@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.inline-block {
  display: inline-block !important;
}

.mat-radio-button:not(:first-child){
  margin-left: 0.5rem;
}

.svg-but svg{
  pointer-events:none;
  margin-top: 15px;
  margin-bottom: 15px; 
}

.svg-face-part-but svg{
  width: 50px;
  margin-top: 15px;
  pointer-events: none;
  .cls-1{
    fill: #fff 
  }
  .cls-2{
    fill: red
  } 
  .cls-3{
    fill: blue
  }  
  .cls-4{
    fill: orange
  }   
}
  


.bg-image-contain{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pos-rel{
  position: relative !important;
}
.pos-abs{
  position: absolute !important;
}

.top-3{
  position: relative;
  top: 3px;
}
.top-5{
  position: relative;
  top: 5px;
}
.top-7{
  position: relative;
  top: 7px;
}

.no-pad-dialog {
  overflow: hidden !important;
  mat-dialog-container {
      padding: 0;
      min-width: 200px;
      min-height: 200px;
      overflow: hidden !important;
  }
}

.no-bg-dialog{
  mat-dialog-container {
    background: transparent;
}
}

.stld-ripple{
  cursor: pointer;
  width: 200px;
  height: 200px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/*=============|Gallery|============*/

.gallery-card{
  position: relative;
  border: 3px solid rgb(158, 158, 158);
  border-radius: 5px;
  overflow: hidden;
}
.gallery-card-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 171px;
  cursor: pointer;
  opacity: 0;
  margin-left: -11px;
  margin-top: -11px;
}

.gallery-card-overlay:hover  {
  background: rgba(255,255,255,.5);
  opacity: 1;
  pointer-events: all;
}

.gallery-card-selected{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 171px;
  cursor: pointer;
  margin-left: -11px;
  margin-top: -11px;
  background: rgba(255,255,255,.5);
  opacity: 1;
  pointer-events: all;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}


@media only screen and (min-width: 48em) {
  .container {
    width: 49rem;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 65rem;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 76rem;
  }
}

/** CATEGORIES ACCORDEON *********************************************************/

.categories-accordeon {
	width: 100%;

	.mat-expansion-panel {
		background: rgba(250, 250, 250, 1);
		box-shadow: none;
	}
	.mat-expansion-panel-body,
	.mat-expansion-panel-header {
		color: rgba(0, 0, 0, 0.87);
		padding: 0px 0px 0px 10px !important;
	}
	.mat-expansion-panel-header-description {
		margin-right: 0px !important;
	}
	.mat-expansion-indicator {
		margin: 10px;
	}
}

.my-menu {
	width: 450px;
	max-width: 450px !important;
}

/** SCROLL *********************************************************/

.my-scroll {
	overflow-y: scroll;
  overflow-x: none;
}

.my-scroll::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.my-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.my-scroll::-webkit-scrollbar-thumb {
	background: #cfd8dc;
}
.my-scroll::-webkit-scrollbar-thumb:hover {
	background: #cfd8dc;
}

.my-scroll.scroll-lg::-webkit-scrollbar {
	width: 20px;
	height: 20px;
}

.my-scroll-dark {
	overflow-y: scroll;
  overflow-x: none;
}

.my-scroll-dark::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
.my-scroll-dark::-webkit-scrollbar-track {
	background: #858585;
}
.my-scroll-dark::-webkit-scrollbar-thumb {
  background: #000;
}
.my-scroll-dark::-webkit-scrollbar-thumb:hover {
	background: #000;
}



.my-scroll-big::-webkit-scrollbar {
	width: 20px;
	height: 20px;
}

.my-close-dialog {
	position: absolute;
	font-size: 40px;
	width: 40px !important;
	right: 5px;
	top: 5px;
	z-index: 2 !important;
	cursor: pointer;
  overflow: visible;
}

.align-right{
  margin-left: auto!important;
  margin-right: 1rem!important;
}
.align-left{
  margin-right: auto!important;
  margin-left: 1rem!important;
}

.no-display{
  display: none !important;
}


.menu-panel-big .mat-menu-panel{ 
  max-width: none !important;
} 

.space-between > * {
  margin: 0.5rem !important;
}

.full-wid{
  width: 100%;
}

.no-mrgn {
  margin: 0;
}