:host {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.dialog-paragraph {
  margin: 0;
}
.my-close-dialog {
	position: absolute;
	font-size: 40px;
	width: 40px !important;
	right: 5px;
	top: 5px;
	z-index: 2 !important;
	cursor: pointer;
  overflow: visible;
}